body {
    font-family: Arial, Helvetica, sans-serif;
}

#fileDisplayArea {
    display: block;
    margin: 1rem;
    width: 450px;
}

#fileDisplayArea img {
    width: auto;
    max-width: 100%;
    height: 150px;
}

#page-wrapper .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 600px;
}

#page-wrapper .form > div {
    margin: .5rem;
    width: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#page-wrapper .form div b {
    width: 150px;
    font-size: 18px;
}

.text-input {
    font-size: 1rem;
}

#page-wrapper .form div input {
    width: 270px;
    padding: .5em;
    font-size: 16px;
    border: none;
}

#page-wrapper .form div input.text-input {
    padding-bottom: .1em;
    border-bottom: solid 1px; 
}

.addBorder {
    border: solid 1px black;
    padding: .5rem;
}

.closeBtn {
    background-color: #ff4522;
    float: right;
    border: solid 1px black;
    border-radius: 5px;
}

.addBlockBtn {
    font-size: 1rem;
    margin-top: .5rem;
}

.addBlock {
    display: block!important;
}

.addBlock > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
}

.generatorBtn {
    border: none;
    padding: .7rem;
    font-size: 1rem;
    -webkit-box-shadow: 0 0 5px 0px black;
            box-shadow: 0 0 5px 0px black;
    border-radius: 5px;
    background-color: #5c84a2;
    color: aliceblue;
    font-weight: 600;
    margin-top: .5rem;
}
