body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

#page-wrapper {
  width: 600px;
  margin: auto;
  background-color: #bad8ef;
  padding: 30px;
}

#page-wrapper > h1 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}

#displayArea {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#fileDisplayArea {
  display: block;
  margin: 1rem;
  width: 600px;
}

#displayArea img {
  width: auto;
  max-width: 100%;
  height: 200px;
}

#message {
  margin-top: 10px;
  font-size: 14px;
  color: red;
}

#page-wrapper .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  width: 600px;
}

#page-wrapper .form > div {
  margin-bottom: 0.5rem;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page-wrapper .form div b {
  width: 200px;
  font-size: 18px;
}

.text-input {
  font-size: 1rem;
}

#page-wrapper .form div input {
  width: 380px;
  padding: 0.5em;
  font-size: 16px;
  border: none;
}

#page-wrapper .form div input.text-input {
  padding-bottom: 0.1em;
  border-bottom: solid 1px;
}

#addBlockBox {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.addBorder {
  border: solid 1px black;
  padding: 0.5rem;
}

#message2 {
  font-size: 14px;
  color: red;
  width: 100%;
}

#addBlockTitle {
  font-size: 1rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.closeBtn {
  top: 5px;
  right: 5px;
  position: absolute;
  border: none;
  background-color: transparent;
  font-size: 1rem;
}

.addFieldBtn {
  background-color: #2196f3;
  border: solid 1px black;
  color: aliceblue;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  border: none;
  padding: 0.5rem;
  font-weight: 600;
}

.removeFieldBtn {
  width: 70px;
  margin-left: 5px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  background-color: #f48a82;
  font-size: 0.7rem;
  border: none;
}

.addBlock > div > textarea {
  width: 100%;
  min-width: 410px;
  min-height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.addBlockBtn {
  font-size: 1rem;
  margin-top: 0.5rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  border: none;
  padding: 0.5rem;
  background-color: #2196f3;
  color: aliceblue;
  font-weight: 600;
  margin-top: 0.5rem;
}

.addBlock {
  display: block !important;
  position: relative;
}

.addBlock > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 0.7rem;
}

.generatorBtn {
  border: none;
  padding: 0.7rem;
  font-size: 1rem;
  background-color: #2196f3;
  color: aliceblue;
  font-weight: 600;
  margin-top: 0.5rem;
}
